html, body, .navbar, .sideNav {
    margin: 0;
    padding: 0
}

body {
    font-family: 'Arial';
    background-color: #e6e6e6; /*#f7f7f7 is more white*/
}

.row {
    width: 100%
}

.minHeight {
    margin: 0;
    padding: 0;
    height: 100vh;
}

.sideNav {
    height: 100vh;
    position: fixed;
    left: -300px;
    background-color: #9932cc;
    transition: all .4s ease-in;
    text-align: left;
    display: flex;
    flex-direction: column;
    color: #f3f3f3;
    z-index: 20
}

.sideNav > p {
    background-color: #66cc33;
    padding: 30px 15px;
    font-size: 250%;
    font-family: 'Montez', sans-serif;
    text-align: center;
}

.navbar {
    font-size: 80%;
}

.navbar-nav {
    padding: 26px
}

.navbar-toggler {
    border: 0;
    margin: 0px 20px;
    display: flex;
    justify-content: center;
}

/* Remove border/outline on focus state */
.navbar-toggler:focus {
    box-shadow: 0 0 5px;
    color: #66cc33
}

.navButton {
    cursor: pointer;
    position: fixed;
    height: 35px;
    width: 35px;
    top: 35px;
    right: 25px;
    z-index: 20;
}

a.nav-link {
    color: #f3f3f3;
}

.nav-item {
    border-radius: 6px;
    margin-bottom: 10px
}

.nav-item:hover {
    background-color: #66cc33;
    text-decoration: none;
    color: #f3f3f3;
}

.intro {
    font-weight: 2;
    font-size: 1.1rem;
    letter-spacing: 1px;
}

.smallPic {
    border-radius: 50%;
    margin: 0 auto;
    width: 250px;
    height: 250px;
    -webkit-box-shadow: 12px 0 #b4e59a, 24px 0 #c9edb7, 36px 0 #def4d4;
        box-shadow: 12px 0 #b4e59a, 24px 0 #c9edb7, 36px 0 #def4d4;
}

p.shortDescription {
    color: #333;
    font-family: 'Montserrat', Monospace
}

h1.myName {
    font-size: 40px; 
    letter-spacing: 3px; 
    line-height: 4rem;
    font-family: 'Montez', sans-serif
}

.pCard {
    font-size: 85%;
    height: 100%;
}

ul.smList > li > a > img {
    width: 45px;
    height: 45px;
    padding: 5px;
    border-radius: 6px;
}

.btn {
    background-color: #9932cc;
    color: white;
    padding: 10px 30px;
    border-radius: 40px;
    letter-spacing: 2px;
    font-size: .9rem;
}

/* HOVER EFFECTS */
.resumeBtn:hover, .nav-item:hover, ul.smList > li > a > img:hover, .card-footer>a:hover {
    box-shadow: 0 14px 28px rgb(0 0 0 / 20%);
    transition: all 0.3s ease-in
}

.card-footer>a:hover {
    background-color: #66cc33;
}

/*
    BIGGER SCREENS
*/

@media (max-width: 990px){
    .sideNav {
        width: 205px
    }
}

@media only screen and (min-width: 991px) {
    .pCard {
        font-size: 100%
    }

    .pCardLink {
        font-size: 100%
    }

    .smallPic {
        border-radius: 50%;
        margin: 0 auto;
        width: 350px;
        height: 350px;
        -webkit-box-shadow: 12px 0 #b4e59a, 24px 0 #c9edb7, 36px 0 #def4d4;
            box-shadow: 12px 0 #b4e59a, 24px 0 #c9edb7, 36px 0 #def4d4;
    }

    .sideNav {
        width: 105px
    }

    .sideNav:hover {
        width: 205px;
        transition: width .3s ease-out;
    }

    .sideLink {
        display: none;
    }
    
    .sideNav:hover .sideLink {
        display: block;
    }

    h1.myName {
        font-size: 50px; 
        letter-spacing: 3px; 
        line-height: 4rem;
    }

    .shortDescription {
        font-size: 1.3rem;
        color: gray
    }
}