.minHeight {
    height: 100vh
}

.intro {
    font-weight: 2;
    font-size: 1rem;
    font-family: 'Noto Sans';
}

.smallImg {
    width: 300px;
}

.shortDescription {
    font-size: 1.5rem;
    font-family: 'Noto Sans';
}

