html, body, .navbar, .sideNav, .container-fluid {
    margin: 0;
    padding: 0
}

body {
    font-family: 'Arial';
    background-color: #f7f7f7
}

.container-fluid {
    width: calc(100% - 90px);
    overflow: hidden;
    padding-top: 60px
}

body > div.row {
    max-width: 1140px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
}

.sideNav {
    height: 100vh;
    position: fixed;
    left: -300px;
    background-color: #9932cc;
    transition: all .4s ease-in;
    text-align: left;
    display: flex;
    flex-direction: column;
    color: #f3f3f3
}

.sideNav > p {
    background-color: #66cc33;
    padding: 30px 15px;
    font-size: 250%;
    font-family: 'Montez', sans-serif;
    text-align: center;
}

.navbar {
    font-size: 80%;
    justify-content: center
}

.navbar-toggler {
    border: 0;
    margin: 0px 20px;
    display: flex;
    justify-content: center;
}

/* Remove border/outline on focus state */
.navbar-toggler:focus {
    box-shadow: 0 0 5px;
    color: #66cc33
}

.navButton {
    cursor: pointer;
    position: fixed;
    height: 35px;
    width: 35px;
    top: 35px;
    right: 25px;
    z-index: 20;
}

a.nav-link {
    color: #f3f3f3;
}

.navLinkName {
    vertical-align: super;
}

.nav-item {
    border-radius: 6px;
    margin-bottom: 10px
}

.nav-item:hover {
    background-color: #66cc33;
    text-decoration: none;
    color: #f3f3f3;
}

.minHeight {
    margin: 0;
    padding: 0;
    height: 100vh;
}

.intro {
    font-weight: 2;
    font-size: 1.1rem;
    letter-spacing: 1px;
}

.smallPic {
    border-radius: 50%;
    margin: 0 auto;
    width: 250px;
    height: 250px;
    -webkit-box-shadow: 12px 0 #b4e59a, 24px 0 #c9edb7, 36px 0 #def4d4;
        box-shadow: 12px 0 #b4e59a, 24px 0 #c9edb7, 36px 0 #def4d4;
}

p.shortDescription {
    color: #333;
    font-family: 'Montserrat', Monospace
}

h1.myName {
    font-size: 40px; 
    letter-spacing: 3px; 
    line-height: 4rem;
    font-family: 'Montez', sans-serif
}

/* First column in class linkList */
.linkList > div:first-of-type {
    text-align: right;
}
/* Second column in class linkList */
.linkList > div:nth-child(2){
    text-align: left;
}

ul.smList {
    list-style-type: none;
    display: inline-block;
    padding: 0;
}

ul.smList > li {
    display: inline-block;
}

ul.smList > li > a > img {
    width: 45px;
    height: 45px;
    padding: 5px;
    border-radius: 6px;
}

#col1, #col2 {
    text-align: center;
}

#col2 > div {
    padding: 0
}

.btn {
    background-color: #9932cc;
    color: white;
    padding: 10px 30px;
    border-radius: 40px;
    letter-spacing: 2px;
    font-size: .9rem;
}

/* HOVER EFFECTS */
.resumeBtn:hover, .nav-item:hover, ul.smList > li > a > img:hover {
    box-shadow: 0 14px 28px rgb(0 0 0 / 20%);
    transition: all 0.3s ease-in
}

/*
    BIGGER SCREENS
*/

@media (max-width: 990px){
    .sideNav {
        width: 205px
    }
}

@media only screen and (min-width: 991px) {
    .smallPic {
        border-radius: 50%;
        margin: 0 auto;
        width: 350px;
        height: 350px;
        -webkit-box-shadow: 12px 0 #d9c8f1, 24px 0 #e2d6f3, 36px 0 #ece6f5;
            box-shadow: 12px 0 #d9c8f1, 24px 0 #e2d6f3, 36px 0 #ece6f5;
    }

    div.container-fluid {
        display: flex;
        justify-content: center;
        width: calc(100%-105px)
    }

    .sideNav {
        width: 105px
    }

    .navLinkName {
        display: none;
    }

    .sideNav:hover .navLinkName {
        display: inline-block;
        
    }

    .sideNav:hover {
        width: 220px;
        transition: width .1s
    }

    h1.myName {
        font-size: 50px; 
        letter-spacing: 3px; 
        line-height: 4rem;
    }

    .shortDescription {
        font-size: 1.3rem;
        color: gray
    }

    #col2 {
        text-align: left;
    }

    ul.smList {
        margin-left: 50px;
    }
}